* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main > header {
    background-color: #2f3640;
    padding: 16px 0;
}
header .container {
    display: flex;
}

header li {
    display:inline;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;


} 

.articles article img {
    width: 180px;

} 

.articles article {
    width: 300px;
}

section {
    padding-top: 20px;
    padding-bottom: 40px;
}

.articles article h3 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.articles article a {
    background-color:blue  ;
    color: aliceblue;
    padding-top: 3px;
    padding-bottom: 5px;
}

.articles article p {
    padding-bottom: 8px;
}






